# Ignorar carpetas de compilación
bin/
obj/
packages/
.vscode/
.idea/
node_modules/

# Ignorar archivos de configuración del usuario
*.user
*.suo
*.tmp
*.log

# Archivos sensibles
appsettings.json
appsettings.Development.json

# Ignorar archivos específicos de Visual Studio
*.vspscc
*.vssscc
*.csproj.user
*.csproj.vspscc
*.sln.docstates

# Archivos del sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
